{% extends "layout.html.twig" %}

{% block content %}
    <div class="container">


        <form id="loginform" class="form-horizontal" method="post" action="{{ path('login_user') }}">

            <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input id="login-username" type="text" class="form-control" name="username" value="{{ app.session.get('last_username') }}"
                       placeholder="username or email">
            </div>

            <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input id="login-password" type="password" class="form-control" name="password"
                       placeholder="password">
            </div>


            <div style="margin-top:10px" class="form-group">
                <!-- Button -->

                <div class="col-sm-12 controls">
                    <button type="submit" class="btn btn-success">Login</button>
                </div>
            </div>
        </form>


        <a href="{{ path('list_events') }}" class="btn btn-default">View events</a>
    </div>
{% endblock %}
